
body {
    background:#F5F5F5;
}

/* title font property */

h1 {
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
}

h3 {
    font-size: 14px;
}

a {
    color: #026E54 !important;
}

.container {
    background: white;
    padding: 30px;
}

.nav {
    margin: 0 3rem 5rem 3rem;
}

/* logo size */
.hmlogo {
    width:8rem;
    text-align: left;
    margin-top:-10px;
}

/* top divider */
.hm-divide {
    margin:10px;
}

/* product image */
.detailleft img {

    width: calc(50% - 12px);
    position: relative;
}

.checkout {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.checkout img {
    flex:1;
    width: 10%;
    height: 10%;
    margin-right: 10rem;
}

.checkout div{
    flex:1;
}

/* product details */
.select-color {
    border: 2px solid #1a1a1a;
    box-shadow: inset 0 0 0 1px #fff;
    max-width: 60px;
}

.size-button {
    margin-top:40px;
    padding: 13px 40px 13px 15px;
    min-height: 44px;
    margin-bottom: 15px;
    border: 1px solid #dadada;
    padding: 10px 11px 11px;
}
.checkout-button{
    color: #fff;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    padding: 15px 11px 11px;
    cursor: pointer;
    background: #D0021B;
    border-radius: 48px;
}

.checkout-button a{
    color: #fff;
    text-decoration: none;
}

.nutrition p{
    margin-bottom: 0;
}

/* shopping cart popup style*/

.show {
    visibility: visible !important;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
    right: 20px;
    top:20px;
    position: absolute;
    width: 300px;
    height: 400px;
    background: white;
    border: 1px solid #dadada;
    z-index: 10;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.pop-cart{
    visibility: hidden;
    right: 83px;
    top:28px;
    position: absolute;
    width: 500px;
    height: 400px;
    background: white;
    border: 1px solid #dadada;
    z-index: 10;
}

.product-overview{
    width: 100%;
    margin: 20px;
}

.cart-divide{
    margin: 0;
}

.product-overview img{
    float: left;
    width: 40%;
}

.cart-des{
    padding: 20px;
    float: left;
}

.product-overview h4{
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    font-weight: 700;
}

.product-overview h5{

    font-size: 14px;
    line-height: 18px;
    margin: 0;
    margin-top: 5px;
    font-weight: 400;
}

.product-overview h5 b{
    margin-top: 5px;
    font-weight: 900;
}
.pop-cart td{
    font-size: 14px;
    padding: 0.1rem 1rem;
    background-color: #fff;
}

.pop-cart tr{
    border: none;
}

.total td{
    font-size: 20px !important;
    font-weight: 900;
}

.right{
    text-align: right;
}

.pop-cart table{
    margin-top: 10px;
    margin-bottom: 10px;
}

.cart-des-low{
    margin: 20px;
}


/* footer style */
.footer-hm{
    margin: 30px auto 0;
    padding: 0;
    background: #fff;
    min-height: 334px;
    padding: 47px 0;
}

.four h4{
    color: #000;
    color: #000 !important;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    padding: 0;
    padding-left: 28px;
}
.four p{
    color: #000;
}
.four{
    font-size: 14px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}


.four li{
    list-style: none;
}

.four a{

    /*color:white;*/
    font-size: 11px;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 15rem;
}

.col-25 {
    -ms-flex: 1; /* IE10 */
    flex: 1;
}

.col-50 {
    -ms-flex: 1; /* IE10 */
    flex: 1;
}

.col-75 {
    -ms-flex: 2; /* IE10 */
    flex: 2;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .cart{
        float: right;
        width: 20px !important;
        margin-right: 20px;
        margin-top:1rem;
        vertical-align: middle;
    }
    .hmlogo img{
        /*width:11rem;*/
    }
    .footer-category{
        width: calc(100% / 2 - 2.5% * 3 / 2);
        margin-right: 2.5%;
        float: left;
    }
    .row {
        flex-direction: column;
        margin:0 2rem;
    }
    .col-25 {
        margin-bottom: 20px;
    }
    .checkout {
        flex-direction: column;
        /*margin-top: 20px;*/
    }
    .checkout img {
        width: 50%;
        height: auto;
        margin-bottom: 20px;
    }
    .nutrition {
        font-size: 80%;
    }

    .pop-cart{
        visibility: hidden;
        right: 20px;
        top:20px;
        position: absolute;
        width: 300px;
        height: 450px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .cart{
        float: right;
        width: 20px !important;
        margin-right: 20px;
        margin-top:1rem;
    }
    .hmlogo img{
        width:8rem;
    }
    .footer-category{
        width: calc(100% / 2 - 2.5% * 3 / 2);
        margin-right: 2.5%;
        float: left;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .hmlogo img{
        width:8rem;
    }
    .cart{
        float: right;
        width: 30px !important;
        margin-right: 40px;
        margin-top:2rem;
    }
    .footer-category{
        width: calc(100% / 4 - 2.5% * 3 / 4);
        margin-right: 2.5%;
        float: left;
    }
    .checkout img {
        width: 50%;
        height: 50%;
        margin-bottom: 20px;
    }
    .row {
        margin:0 2rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .checkout img {
        width: 50%;
        height: 50%;
    }
    .row {
        margin:0 10rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .checkout img {
        width: 10%;
        height: 10%;
        margin-bottom: 0;
    }
    .row {
        margin:0 15rem;
    }
}